# Python
venv/
.venv/
.venv_debug/
__pycache__/
*.pyc
*.pyo
.env

# Build / packaging
build/
dist/
*.egg-info

# Archives / large outputs
*.zip
*.tar.gz

# Editors / IDEs
.vscode/
.idea/

# Others
*.log
*.sqlite3
*.db
alann
alann.pub

# Data files - IMPORTANT: Ne jamais pousser les PDFs
*.pdf
data/raw/*.pdf
output/
logs/

# Separate projects
manuella/
Manuella/

.hf_token
